USE [master]
GO
/****** Object:  Database [bms]    Script Date: 6/26/2015 2:25:10 PM ******/
CREATE DATABASE [bms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\bms.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\bms_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bms]
GO
/****** Object:  Table [dbo].[Pirate]    Script Date: 6/26/2015 2:25:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pirate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[ShipName] [varchar](50) NULL,
	[PirateName] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Pirate] ON 

INSERT [dbo].[Pirate] ([ID], [FirstName], [LastName], [ShipName], [PirateName]) VALUES (1, N'Davey', N'Blamey', N'S.S. Minow', N'Davy "Voodoo" Blamey')
INSERT [dbo].[Pirate] ([ID], [FirstName], [LastName], [ShipName], [PirateName]) VALUES (2, N'James', N'Bowen', N'The Barbaric Abandoned', N'Executioner')
INSERT [dbo].[Pirate] ([ID], [FirstName], [LastName], [ShipName], [PirateName]) VALUES (3, N'Clancy', N'Crumps', N'The Sea Killer', N'Roadkill')
SET IDENTITY_INSERT [dbo].[Pirate] OFF
USE [master]
GO
